@tailwind base;
@tailwind components;
@tailwind utilities;

/* Altındaki mevcut kodların kalabilir */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  background: white;
  color: #0f172a; /* Slate 900 */

}